.sidebar-container {
  .menu-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 15px;
    cursor: pointer;
    margin-bottom: 0.5rem;

    width: auto;
    min-width: 170px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s all;

    &:hover {
      background: #f0f0ff;
    }

    &.selected {
      background: #f0f0ff;
    }

    .color {
      .color-content {
        width: 20px;
        height: 20px;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
      }
    }

    .name {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      color: var(--light-black);
      font-weight: 600;
    }
  }

  .checklist-container {
    display: flex;
    column-gap: 7px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2.5rem;

    label {
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      color: var(--light-chocolate);
      font-weight: 600;
    }

    input {
      border-radius: 5px;
      border: 2px solid var(--light-chocolate);
    }
  }
}
